<div class="todos" >
	<form (submit)="addTodo()" >
		<input 
			type="text"
			name="inputTodo"
			placeholder="Digite o To-do..."
			class="todo-input"
			[(ngModel)]="inputTodo"
		/>
		<input type="submit" value="Adicionar To-do" class="todo-submit" />
	</form>
	<div *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
		<div class="id">{{ i }}</div>
		<div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
		<td>
			<button class="buttonEdit" (click)="editTask(i)"> Editar </button>
		 </td>
		<button class="buttonDelete" (click)="deleteTodo(i)">Remover</button>
	</div>
</div>